.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connect{
  border: none;
  cursor: pointer;
  background-color: orange;
  color: white;
  padding: 1rem 2rem;
  border-radius: 40px;
  font-size: 2rem;
}
.connect:hover{
  box-shadow: 0 0 1px 1px rgba(0,0,0,.2);
}